.form {
    @include infoBox;
    align-items: center;
    display: flex;
    flex-direction: column;
    &__select-box {
        display: flex;
        height: 55px;
        justify-content: center;
        margin: 50px 0;
        width: 200px;
        select {
            @include select(-webkit-fill-available, 1.1em);
        }
    }
    &__pagination {
        display: flex;
        justify-content: space-between;
        width: 100px;
        .pagination {
            @include btn-circle;
            &:focus {
                outline: none;
            }
            i {
                color: #fff;
                font-size: 1.5em;
            }
        }
    }
    &__pesquisar {
        @include btn;
        &:hover {
            color: #ffe300;
        }
    }
}