.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    &__select-box {
        display: flex;
        height: 55px;
        justify-content: center;
        margin: 50px 0;
        width: 200px;
        select {
            @include select(-webkit-fill-available, 1.1em);
        }
    }
    &__pesquisar {
        @include btn;
        &:hover {
            background-color: #7068e77a;
        }
    }
}