.preview {
    color: #fff;
    font-family: sans-serif;

    background: $pretoClaro;
    border: 1px solid rgba(0,0,0,.6);
    border-radius: 5px;
    margin: 20px;
    padding: 15px;
    &__caixa {
        &__info {
            padding-bottom: 15px;
            span {
                color: $amareloPrincipal;
                font-weight: bold;
            }
        }
    }
}