@import './_partials/fonts';
@import './_partials/variables';
@import './_partials/mixins';
@import './_partials/animations';
@import '../../components/open/open';
@import '../../components/form/Form';
@import '../../components/preview/preview';
@import './_partials/media';

html, 
body, 
#root,
.main-content {
    height: fit-content;
    margin: 0;
    padding: 0;
}

.main-content {
    background: $pretoEscuro;
    padding: 15px 0;
}

.loader-box {
    align-items: center;
    background: $pretoEscuro;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    .loader {
        border: 3px solid #fff;
        border-top: 3px solid $azulPrincipal;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: loader 2s linear infinite;
    }
}

.preview-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}